.TeamPage{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3,1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.TeamPage .team-name-section{
    grid-column: span 3;
    justify-self: start;
    align-self: center;
}

.TeamPage .team-name-section .team-name{
    font-size: 4rem;
    margin-bottom: 20px;
}

.TeamPage .win-loss-section{
    justify-self: center;
}


.TeamPage .match-detail-section{
    grid-column: span 4;
}

.TeamPage .win-loss-section{
    justify-self: center;
    /* padding: 20px; */
    text-align: center;
}

.TeamPage .pie-chart{
    margin-top: 10px;
    width: 180px;
}

.TeamPage .more-link{
    align-self: center;
    justify-self: center;
    font-size: 1.5rem;
}