.MatchDetailCard{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 5px;
}

.MatchDetailCard .match-date{
    margin-top: 10px ;
}


.MatchDetailCard .match-venue{
    margin-top: 10px;
}


.MatchDetailCard .match-result{
    margin-top: 10px;
}

.MatchDetailCard .additional-detail{
    text-align: right;
    & > p{
        margin-bottom: 20px;
    }
}